.order-card {
    display: grid;
    grid-template-columns: 2fr;
    gap: 30px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    margin-bottom: 40px;
    max-width: 1200px;
    min-width: 70%;
    position: relative;
}

.order-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 40px;
    align-items: center;
}

.order-info h3 {
    color: #fdb913;
    grid-column: 1 / span 2;
    margin: 0 0 16px;
}

.order-info span {
    color: #fff;
    margin: 0;
}

.order-card-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
}

.order-card-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.approve-button {
    background-color: #4caf50;
    color: #fff;
}

.decline-button {
    background-color: #f44336;
    color: #fff;
}