.search-box {
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

.search-box form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group label {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.search-box button {
    background-color: #fdb913;
    color: #1e1e1e;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .search-box form {
        flex-direction: column;
    }
}