.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #1e1e1e;
  width: 400px;
  max-width: 90%;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.modal h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal form label {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.modal form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.modal form button[type="submit"] {
  background-color: #fdb913;
  color: #1e1e1e;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal button {
  background-color: #fdb913;
  color: #1e1e1e;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.error-message {
  color: #f44336;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}