/* ReservationModal.css */
.reservation-modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.reservation-modal-content {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.reservation-modal form {
  display: flex;
  flex-direction: column;
}

.reservation-modal label {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.reservation-modal input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  margin-bottom: 10px;
}

.close-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}


.reservation-modal button[type="submit"] {
  background-color: #fdb913;
  color: #1e1e1e;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}